In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv('C:/Users/Renu Rawat/Data_Python/sample_Employee_data_xlsx.csv')

In [12]:
df

,first_name,last_name,company_name,address,city,county,postal,phone,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...
1995,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
1996,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
1997,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
1998,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
1999,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [13]:
print(df.head()) # head method only show the first 5 row

  first_name   last_name             company_name            address  \
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1       Evan   Zigomalas       Cap Gemini America        5 Binney St
2     France     Andrade      Elliott, John W Esq       8 Moor Place
3    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal         phone  \
0               St. Stephens Ward             Kent   CT2 7PP  01944-369967
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01714-737668
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01935-821636
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01302-601380
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01290-367248

                        email                                   web
0     atomkiewicz@hotmail.com  http://www.alandrosenburgcpapc.co.uk
1    evan.zigomalas@gmail.com     http://www.capgeminiamerica.co.uk
2  france.andrade@hotmail.com      http://www.elliottjohnwesq.co.uk
3         ulysses@hotmail.com          http://www.mcmahanbenl.co.uk
4   tyisha.veness@hotmail.com        http://www.champagneroom.co.uk

In [14]:
print(df.tail()) # tail show last 5 rows

     first_name last_name                    company_name             address  \
1995      Avery      Veit      Plaza Gourmet Delicatessen  9166 Devon St #905
1996       Reid   Euresti            Fitzgerald, Edward J        70 Foster St
1997  Charlette  Brenning              Furey & Associates     714 Fonthill Rd
1998  Celestina     Keeny        Bfg Federal Credit Union         9 Milton St
1999         Mi    Richan  Nelson Wright Haworth Golf Crs     6 Norwood Grove

                                city           county    postal         phone  \
1995  Knightsbridge and Belgravia Wa   Greater London  SW1W 8JY  01369-185737
1996        Inverness Ness-Side Ward         Highland   IV2 6WT  01370-319414
1997                Darton West Ward  South Yorkshire   S75 5EJ  01301-312487
1998                Consett North ED    County Durham   DH8 5LP  01600-463475
1999               Tanworth-in-Arden     Warwickshire   B94 5RZ  01202-738406

                          email                                          web
1995           avery@veit.co.uk    http://www.plazagourmetdelicatessen.co.uk
1996     reuresti@euresti.co.uk           http://www.fitzgeraldedwardj.co.uk
1997   cbrenning@brenning.co.uk             http://www.fureyassociates.co.uk
1998  celestina_keeny@gmail.com       http://www.bfgfederalcreditunion.co.uk
1999             mi@hotmail.com  http://www.nelsonwrighthaworthgolfcrs.co.uk

# how many rows and columns

In [17]:
print(df.shape)

(2000, 10)

# columns name

In [18]:
print(df.columns)

Index(['first_name', 'last_name', 'company_name', 'address', 'city', 'county',
       'postal', 'phone', 'email', 'web'],
      dtype='object')

# get the type of each column

In [20]:
print(df.dtypes)

first_name      object
last_name       object
company_name    object
address         object
city            object
county          object
postal          object
phone           object
email           object
web             object
dtype: object

# pandas types versus python types

In [21]:
#GET MORE IMFORMATION ABOUT DATA

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    2000 non-null   object
 1   last_name     2000 non-null   object
 2   company_name  2000 non-null   object
 3   address       2000 non-null   object
 4   city          2000 non-null   object
 5   county        2000 non-null   object
 6   postal        2000 non-null   object
 7   phone         2000 non-null   object
 8   email         2000 non-null   object
 9   web           2000 non-null   object
dtypes: object(10)
memory usage: 156.4+ KB
None

# looking at columns ,row and cells

In [23]:
first_name_df=df['first_name']

In [24]:
print(first_name_df.head())

0    Aleshia
1       Evan
2     France
3    Ulysses
4     Tyisha
Name: first_name, dtype: object

In [25]:
print(first_name_df.tail())

1995        Avery
1996         Reid
1997    Charlette
1998    Celestina
1999           Mi
Name: first_name, dtype: object

# looking first name ,e-mail,city

In [30]:
subset = df[['first_name','email','city']] 
print(subset.head())

  first_name                       email                            city
0    Aleshia     atomkiewicz@hotmail.com               St. Stephens Ward
1       Evan    evan.zigomalas@gmail.com                      Abbey Ward
2     France  france.andrade@hotmail.com  East Southbourne and Tuckton W
3    Ulysses         ulysses@hotmail.com              Hawerby cum Beesby
4     Tyisha   tyisha.veness@hotmail.com      Greets Green and Lyng Ward

In [31]:
subset = df[['last_name','phone','company_name']]
print(subset.head())

    last_name         phone             company_name
0  Tomkiewicz  01944-369967  Alan D Rosenburg Cpa Pc
1   Zigomalas  01714-737668       Cap Gemini America
2     Andrade  01935-821636      Elliott, John W Esq
3   Mcwalters  01302-601380           Mcmahan, Ben L
4      Veness  01290-367248           Champagne Room

In [32]:
subset =df[['first_name','company_name','city']]
print(subset.tail())

     first_name                    company_name  \
1995      Avery      Plaza Gourmet Delicatessen
1996       Reid            Fitzgerald, Edward J
1997  Charlette              Furey & Associates
1998  Celestina        Bfg Federal Credit Union
1999         Mi  Nelson Wright Haworth Golf Crs

                                city
1995  Knightsbridge and Belgravia Wa
1996        Inverness Ness-Side Ward
1997                Darton West Ward
1998                Consett North ED
1999               Tanworth-in-Arden

# looking at column ,rows and cells

In [33]:
# subset rows by index label :loc

In [34]:
print(df.head())

  first_name   last_name             company_name            address  \
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1       Evan   Zigomalas       Cap Gemini America        5 Binney St
2     France     Andrade      Elliott, John W Esq       8 Moor Place
3    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal         phone  \
0               St. Stephens Ward             Kent   CT2 7PP  01944-369967
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01714-737668
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01935-821636
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01302-601380
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01290-367248

                        email                                   web
0     atomkiewicz@hotmail.com  http://www.alandrosenburgcpapc.co.uk
1    evan.zigomalas@gmail.com     http://www.capgeminiamerica.co.uk
2  france.andrade@hotmail.com      http://www.elliottjohnwesq.co.uk
3         ulysses@hotmail.com          http://www.mcmahanbenl.co.uk
4   tyisha.veness@hotmail.com        http://www.champagneroom.co.uk

# get the first row
python count from zero

In [35]:
print(df.loc[0])

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone                                   01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [36]:
# get the 100 th row
#python count from zero

In [37]:
print(df.loc[99])

first_name                                Linwood
last_name                                Rosenlof
company_name                   Exhibit Crafts Inc
address                              3 Pyramid St
city                               Eccleston Ward
county                                 Merseyside
postal                                   WA10 3BW
phone                                01244-769346
email                  linwood.rosenlof@yahoo.com
web             http://www.exhibitcraftsinc.co.uk
Name: 99, dtype: object

# get the last row

In [38]:
print(df.tail(n=1))

     first_name last_name                    company_name          address  \
1999         Mi    Richan  Nelson Wright Haworth Golf Crs  6 Norwood Grove

                   city        county   postal         phone           email  \
1999  Tanworth-in-Arden  Warwickshire  B94 5RZ  01202-738406  mi@hotmail.com

                                              web
1999  http://www.nelsonwrighthaworthgolfcrs.co.uk